/* General container styling */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Center vertically and ensure full height */
    padding: 20px;
    overflow: hidden; /* Prevent scrolling */


}

/* Form styling */
.login-form {
    background-color: #D8BFD8;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Title styling */
.form-title {
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
    text-align: center;
    font-weight: bold;
}

/* Input group styling */
.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #444;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
}

/* Button styling */
.form-button {
    width: 100%;
    padding: 12px;
    background-color: #DDA0DD;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #DB7093;
}

/* Error box styling */
.form-error-box {
    margin-bottom: 20px;
    padding: 12px;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 6px;
    border: 1px solid #f5c6cb;
    font-size: 16px;
}

.form-error-title {
    margin: 0;
    font-size: 18px;
}

.form-error-list {
    padding: 0;
    margin: 10px 0 0;
    list-style-type: none;
}

.form-error-item {
    font-size: 16px;
}
